<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LagerHanteringv2.Properties.Settings.Database_DiagramsConnectionString"
            connectionString="Data Source=JDTN5H2\SQLSERVERFBS;Initial Catalog=&quot;Database Diagrams&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>